body {

  background: #222;

  display: flex;

  justify-content: center;

  align-items: center;

  height: 100vh;

  overflow: hidden;
}

.player {

  width: 64px;
  height: 64px;

  background-repeat: no-repeat;

  image-rendering: pixelated;

  transform: scale(4);

  transform-origin: center;
}

/* ANIMATION SYSTEM */

@keyframes play {

  from {
    background-position-x: 0;
  }

  to {
    background-position-x: -768px;
  }

}