body {
  background: #222;
}

.player {
  width: 64px;
  height: 64px;

  background-image: url('./assets/walking.png');
  background-repeat: no-repeat;

  image-rendering: pixelated;

  transform: scale(4);

  margin: 100px;

  background-color: transparent
}

.walking {
  animation: walkAnim 0.8s steps(8) infinite;
}

@keyframes walkAnim {
  from {
    background-position-x: 0;
  }

  to {
    background-position-x: -512px;
  }
}

.running {
  background-image: url('./assets/running.png');
  animation: runAnim 0.5s steps(12) infinite;
}

@keyframes runAnim {
  from {
    background-position-x: 0;
  }

  to {
    background-position-x: -768px;
  }
}

.stop-running {
  background-image: url('./assets/stoprunning.png');
  animation: stopRun 0.5s steps(5) forwards;
}

@keyframes stopRun {
  from {
    background-position-x: 0;
  }

  to {
    background-position-x: -320px;
  }
}